<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Register</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">

    <ion-card>
      <ion-card-header>
        <h2>Address Information</h2>
      </ion-card-header>
    
      <ion-card-content>
        <ion-list>
          <ion-item>
            <ion-input aria-label="address" formControlName="address" placeholder="Ingrese su dirección"></ion-input>
          </ion-item>
          <div *ngIf="registerForm.get('address')?.invalid && (registerForm.get('address')?.touched || registerForm.get('address')?.dirty)">
            <ion-text color="danger">La dirección es requerida.</ion-text>
          </div>
        </ion-list>

        <ion-list>
          <ion-item>
            <ion-input aria-label="number" formControlName="number" placeholder="Ingrese número"></ion-input>
          </ion-item>
          <div *ngIf="registerForm.get('number')?.invalid && (registerForm.get('number')?.touched || registerForm.get('number')?.dirty)">
            <ion-text color="danger">El número es requerido y debe ser un número válido.</ion-text>
          </div>
        </ion-list>

        <ion-list>
          <ion-item>
            <ion-input aria-label="zipcode" formControlName="zipcode" placeholder="Ingrese código zip"></ion-input>
          </ion-item>
          <div *ngIf="registerForm.get('zipcode')?.invalid && (registerForm.get('zipcode')?.touched || registerForm.get('zipcode')?.dirty)">
            <ion-text color="danger">El código zip es requerido y debe ser un número válido.</ion-text>
          </div>
        </ion-list>

        <ion-list>
          <ion-item>
            <ion-select aria-label="Región" formControlName="region" placeholder="Seleccionar región">
              <ion-select-option value="Región de Arica y Parinacota">Región de Arica y Parinacota</ion-select-option>
              <ion-select-option value="Región de Tarapacá">Región de Tarapacá</ion-select-option>
              <ion-select-option value="Región de Antofagasta">Región de Antofagasta</ion-select-option>
              <ion-select-option value="Región de Atacama">Región de Atacama</ion-select-option>
              <ion-select-option value="Región de Coquimbo">Región de Coquimbo</ion-select-option>
              <ion-select-option value="Región de Valparaíso">Región de Valparaíso</ion-select-option>
              <ion-select-option value="Región Metropolitana de Santiago">Región Metropolitana de Santiago</ion-select-option>
              <ion-select-option value="Región de O'Higgins">Región de O'Higgins</ion-select-option>
              <ion-select-option value="Región del Maule">Región del Maule</ion-select-option>
              <ion-select-option value="Región de Ñuble">Región de Ñuble</ion-select-option>
              <ion-select-option value="Región del Bíobío">Región del Bíobío</ion-select-option>
              <ion-select-option value="Región de La Araucanía">Región de La Araucanía</ion-select-option>
              <ion-select-option value="Región de Los Ríos">Región de Los Ríos</ion-select-option>
              <ion-select-option value="Región de Los Lagos">Región de Los Lagos</ion-select-option>
              <ion-select-option value="Región de Aysén del General Carlos Ibáñez del Campo">Región de Aysén del General Carlos Ibáñez del Campo</ion-select-option>
              <ion-select-option value="Región de Magallanes y de la Antártica Chilena">Región de Magallanes y de la Antártica Chilena</ion-select-option>
            </ion-select>
          </ion-item>
          <div *ngIf="registerForm.get('region')?.invalid && (registerForm.get('region')?.touched || registerForm.get('region')?.dirty)">
            <ion-text color="danger">La región es requerida.</ion-text>
          </div>
        </ion-list>

        <ion-list>
          <ion-item>
            <ion-input aria-label="city" formControlName="city" placeholder="Ingrese ciudad"></ion-input>
          </ion-item>
          <div *ngIf="registerForm.get('city')?.invalid && (registerForm.get('city')?.touched || registerForm.get('city')?.dirty)">
            <ion-text color="danger">La ciudad es requerida.</ion-text>
          </div>
        </ion-list>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>
        <h2>Contact</h2>
      </ion-card-header>
    
      <ion-card-content>
        <ion-list>
          <ion-item>
            <ion-input aria-label="name" formControlName="name" placeholder="Ingrese su nombre"></ion-input>
          </ion-item>
          <div *ngIf="registerForm.get('name')?.invalid && (registerForm.get('name')?.touched || registerForm.get('name')?.dirty)">
            <ion-text color="danger">El nombre es requerido.</ion-text>
          </div>
        </ion-list>

        <ion-list>
          <ion-item>
            <ion-input aria-label="email" formControlName="email" placeholder="Ingrese su correo electrónico"></ion-input>
          </ion-item>
          <div *ngIf="registerForm.get('email')?.invalid && (registerForm.get('email')?.touched || registerForm.get('email')?.dirty)">
            <ion-text color="danger" *ngIf="registerForm.get('email')?.errors?.['required']">El correo es requerido.</ion-text>
            <div *ngIf="registerForm.get('email')?.errors?.['email']">El correo debe ser un email válido.</div>
          </div>
        </ion-list>

        <ion-list>
          <ion-item>
            <ion-input aria-label="password" formControlName="password" placeholder="Ingrese su contraseña" type="password"></ion-input>
          </ion-item>
          <div *ngIf="registerForm.get('password')?.invalid && (registerForm.get('password')?.touched || registerForm.get('password')?.dirty)">
            <ion-text color="danger">La contraseña es requerida y debe tener al menos 6 caracteres.</ion-text>
          </div>
        </ion-list>

        <ion-list>
          <ion-item>
            <ion-input aria-label="confpassword" formControlName="confpassword" placeholder="Confirme su contraseña" type="password"></ion-input>
          </ion-item>
          <div *ngIf="registerForm.errors?.['mismatch'] && (registerForm.get('confpassword')?.touched || registerForm.get('confpassword')?.dirty)">
            <ion-text color="danger">Las contraseñas no coinciden.</ion-text>
          </div>
        </ion-list>

        <ion-list>
          <ion-item>
            <ion-input aria-label="phone" formControlName="phone" placeholder="Ingrese su número de contacto"></ion-input>
          </ion-item>
          <div *ngIf="registerForm.get('phone')?.invalid && (registerForm.get('phone')?.touched || registerForm.get('phone')?.dirty)">
            <ion-text color="danger">El teléfono es requerido y debe ser un número válido.</ion-text>
          </div>
        </ion-list>
      </ion-card-content>
    </ion-card>

    <ion-button expand="full" shape="round" type="submit">Crear Cuenta</ion-button>
  </form>
</ion-content>
